<% layout("/layouts/boilerplate.ejs") %>
    <h2 class="offset-2">Create a new listing</h2>
    <form action="/listings" method="POST" class="needs-validation" novalidate enctype="multipart/form-data">
        <div class="col-8 offset-2">
            <div class="mb-3">
                <label for="title" class="form-label">title</label><br>
                <input type="text" id="title" name= "listing[title]" placeholder="enter title" class="form-control" required>
                <div class="valid-feedback">Looks good!</div>
                <div class="invalid-feedback">Please enter a valid title.</div>
            </div>
            <div class="mb-3">
                <label for="desc" class="form-label">description</label><br>
                <textarea id="desc" name="listing[description]" rows="3" class="form-control" required></textarea>
                <div class="invalid-feedback">A description is required!</div>
            </div>
            <div class="mb-3">
                <label for="image" class="form-label">Upload Listing Image</label><br>
                <input type="file" id="image" name="listing[image]" placeholder="enter image url" class="form-control">
            </div>
            <div class="row mb-3">
                <div class="col-md-4">
                    <label for="price" class="form-label">price</label><br>
                    <input type="number" id="price" name="listing[price]" placeholder="enter price" class="form-control" required>
                    <div class="valid-feedback">Looks good!</div>
                    <div class="invalid-feedback">Please enter a valid Price.</div>
                </div> 
                <div class="col-md-8">
                    <label for="location" class="form-label">location</label><br>
                    <input type="text" id="location" name="listing[location]" placeholder="enter location" class="form-control" required>
                    <div class="valid-feedback">Looks good!</div>
                    <div class="invalid-feedback">Please enter a valid city.</div>
                </div>
            </div>
            <div class="mb-3">
                <label for="country" class="form-label">country</label><br>
                <input type="text" id="country" name="listing[country]" placeholder="enter country" class="form-control" required>
                <div class="valid-feedback">Looks good!</div>
                <div class="invalid-feedback">Please enter a valid country.</div>
            </div>
            <div class="mb-3">
                <button class="btn btn-dark">add</button>
            </div>
        </div>
    </form>